.slideChildrenContainer--desktop__slider--brands {
    height: 295px;

}

.slide--desktop__slider--brands--visible {
    width: 14% !important;
}

.sliderTrack--desktop__slider--brands {
    width: 118%;
}

.sliderLeftArrow--desktop__slider--brands {
    background-color: rgb(139, 131, 131) !important;
    opacity: 0.2;
    height: 57px;
    width: 27px;
    border-radius: 5px;
}

.sliderRightArrow--desktop__slider--brands {
    background-color: rgb(139, 131, 131) !important;
    opacity: 0.2;
    height: 57px;
    width: 27px;
    border-radius: 5px;
}

.sliderTrackContainer--desktop__slider--brands {
    width: 1280px;
}