.wrapper--slider__brand--image-text {

    position: relative;
    bottom: 4rem;


}

.paragraph--slider__brand--image-text {
    color: #91C612;
    font-size: 16px;
    font-family: Montserrat-Regular;
    line-height: 1.4px;
    font-weight: 500;
    position: relative;
    left: 5rem;
}