.searchResultContainer--result--container--mobile {
    padding-top: 7%;
}

.container--layout--result__container--mobile {
    margin-top: 4% !important;
}

.filterPopupTitle--order-by__mobile {
    color: #5a5555;
    font-family: Montserrat-Semibold;

}

.galleryItem--mobile-grid {

    flex-basis: 27% !important;
    max-width: 33% !important;
    border: 1px solid grey;
    background-color: transparent;
    padding: 0;
}

.sidebar {
    background-color: #37373F;
    max-width: 60%;
}

.filterAccordionBreadcrumbs {
    background-color: #2D2D33;
}

.accordionFilterItemTitle--mobile__filter, .filterBreadcrumbsText--mobile__filter, .filterTitleSpan--mobile__filter {
    color: #e4dada;
    font-family: Montserrat-Regular;

}

.filtersWrapperMobile--mobile__filter {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    font-family: Montserrat-Semibold;
    font-size: 20px;
}

.caretIcon--mobile__filter, .caretIcon--order-by__mobile {
    color: #91C612;
}

.accordionFilterItemOptions :global(.vtex-checkbox__label) {
    color: #fff
}

.filterButtonsBox {
    background-color: #2D2D33;


}

.filterClearButtonWrapper--mobile__filter :global(.vtex-button__label) {
    color: #EEEEEE;
    font-family: Montserrat-Regular;

}

.filterApplyButtonWrapper--mobile__filter :global(.vtex-button) {
    background-color: #91C612;
    border: none;

}

.accordionFilterContainer--mobile__filter {
    padding-left: 1rem !important;
}

.gallery--gallery__container--general-grid {
    justify-content: space-between;
}