.slideChildrenContainer--desktop__slider--brands {
    height: 295px;

}

.slide--desktop__slider--brands--visible {
    width: 15.5% !important;
}

.sliderTrack--desktop__slider--brands {
    column-gap: 1rem;
    transform: translate3d(-16.6667%, 0px, 0px);
    width: 120%;
    transition: transform 400ms ease 0ms;
    justify-content: center;

}

.sliderLeftArrow--desktop__slider--brands {
    background-color: rgb(139, 131, 131) !important;
    opacity: 0.2;
    height: 57px;
    width: 27px;
    border-radius: 5px;
}

.sliderRightArrow--desktop__slider--brands {
    background-color: rgb(139, 131, 131) !important;
    opacity: 0.2;
    height: 57px;
    width: 27px;
    border-radius: 5px;
}

.sliderTrackContainer--desktop__slider--brands {
    max-width: 1280px !important;
    margin: 0 auto;
}

.sliderTrack--mobile__slider--brands {
    column-gap: 1rem;
}