.flexCol--sliderBrands__container {
    flex-direction: column;
    align-items: center;
    min-height: 298px !important;

}

.flexRowContent--desktop__sliderBrands--container {
    background-color: #EEEEEE;

}



.flexColChild--sliderBrands__container {



    width: auto;
    border-radius: 10px 10px;

}


.flexRowContent--desktop__sliderBrands {


    background-color: #EEEEEE;
    padding: 10px 0 10px 0;
    max-width: 1250px;
    margin: 0 auto;



}

.flexCol--desktop__sliderBrands--container {
    justify-content: center;
}

.flexRow--sliderBrandsRow__container {
    background-color: #fff;
    height: 295px;
    border-radius: 10px;
    width: 219px;
}

/* @media screen and (max-width:640px) {
    .flexRowContent--desktop__sliderBrands {
        background-color: #EEEEEE;
        position: initial;
        padding: 20px 0 20px 0;
        max-width: 100vw;
        left: 0;
        padding: 0
    }

    .flexCol--sliderBrands__container {
        flex-direction: column;
        align-items: center;
        min-height: 214px !important;

    }


    .flexRow--desktop__title {
        background-color: #EEEEEE;
    }

    .flexRow--desktop__sliderBrands {
        background-color: #EEEEEE
    }

    .flexRow--sliderBrandsRow__container {
        background-color: #fff;
        height: 214px;
        border-radius: 20px;
        width: 219px;
    }


} */

.flexCol--desktop__sliderBrands--container {

    max-width: 100%;
    height: 100%;
    margin: 0 auto;

}