.wrapper--slider__brand--image-text {

    position: relative;
    bottom: 4rem;


}



.container--label_promo--text {
    background-color: #91C612;
    position: relative;
    left: 7px;
    bottom: 36px;
    width: 5rem;
    border-radius: 4px;
}

.wrapper--mobile__slider--brand-image-text {
    position: relative;
    bottom: 20px;

}