.flexCol--sliderBrands__container {
    flex-direction: column;
    align-items: center;
    min-height: 298px !important;

}

.flexRowContent--desktop__sliderBrands--container {
    background-color: #EEEEEE;

}



.flexColChild--sliderBrands__container {

    width: 219px;
    border-radius: 20px 20px;

}

.flexRowContent--desktop__sliderBrands {

    background-color: #EEEEEE;
    padding: 20px 0 20px 0;
    max-width: 1280px;
    position: relative;
    left: 8rem;


}

.flexCol--desktop__sliderBrands--container {
    justify-content: center;
}

.flexRow--sliderBrandsRow__container {
    background-color: #fff;
    height: 295px;
    border-radius: 20px;
    width: 219px;
}

@media screen and (max-width:640px) {
    .flexRowContent--desktop__sliderBrands {
        background-color: #EEEEEE;

    }

    .flexCol--sliderBrands__container {
        flex-direction: column;
        align-items: center;
        min-height: 214px !important;

    }


    .flexRow--desktop__title {
        background-color: #EEEEEE;
    }

    .flexRow--desktop__sliderBrands {
        background-color: #EEEEEE
    }

    .flexRow--sliderBrandsRow__container {
        background-color: #fff;
        height: 214px;
        border-radius: 20px;
        width: 219px;
    }


}