.wrapper--disclosure__option--text {
    color: #fff;
    line-height: 21px;
    font-family: Montserrat-Regular;


}

.wrapper--answerHowtoBuy {
    color: #fff;
    font-family: Montserrat-Regular;
    padding: 13px 0 13px 29px;
    font-size: 15px;
    line-height: 21px
}