.triggerContainer--creditcard__modal--trigger {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
}