.flexRowContent--desktop__section--image-container {
    margin-bottom: 45px;
}

.flexRowContent--desktop__section--image-container-2 {
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 100%;
}


.flexRow--desktop__buyingOptions--Maincontainer {
    height: 150px;

    background-color: #E8E8ED;
    display: flex;
    justify-content: center;
    align-items: center;
}



.flexCol--creditCard__container {
    flex-direction: row;
    margin-right: 20px;
    justify-content: center;
}

.flexCol--desktop__buyingOptions--container-col {
    justify-content: space-around;
    align-items: center;
}

.flexCol--card__txt-container {
    flex-direction: column;
}

.flexColChild--creditCard__container {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.flexRow--creditCard__container {
    height: 110px;
    width: 110px;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.flexRow--card__txt-container {
    display: flex;
    align-items: center;
}

.flexRowContent--desktop__buyingOptions--container {
    justify-content: space-between;
    gap: 3rem;
}


.flexRowContent--card__txt-container {
    display: flex;
    align-content: center;
}

.flexCol--desktop__buyingOptions--container-col {
    width: 1280px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:992px) {
    .flexCol--desktop__buyingOptions--container-col {
        width: 955px;
        display: flex;
        justify-content: center;
    }


}

.flexColChild--shipingImage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol--desktop__logoAndtitle--col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexRowContent--desktop__titleAndLogo {
    margin: 55px auto;
}

.flexRowContent--partners_main--container {
    width: 76vw;
    margin: 2rem auto;
}

.flexCol--partners_container {
    flex-direction: row;
    justify-content: space-evenly;
}