.productName {
    color: gray;
    font-weight: 300;
    font-family: Montserrat-Regular;
    text-justify: auto;
}

.price {
    color: gray;
    font-weight: 600;
}

.quantitySelectorIncrease {
    background-color: rgb(10, 233, 66);
}

.quantitySelectorDecrease {
    background-color: rgb(180, 173, 169);
}

.productListUnavailableItemsMessage {
    color: rgb(235, 227, 227);
    font-weight: 600;
    font-family: Montserrat;
}

.productName {
    color: white;
}

.removeButton {
    background-color: cornsilk;
    border-radius: 2px;
}