.styledLinkContainer {
    margin: 0 12px;

}

.styledLinkContent--header__menu--subcategory-ssd, .styledLinkContent--header__menu--subcategory-hdd {
    color: var(--primary-color);
    font-family: Montserrat-Regular;
}

.styledLinkContainer--all__categories {
    border-right: 2px solid #C8C8C8;
    padding-right: 1rem;

}

.styledLinkContent--all__categories {
    color: var(--primary-color);
    font-family: Montserrat-semibold;


}

.styledLink--desktop__pcComponents {
    position: relative;
    right: 6rem;
}


.subMenuContainer {
    background-color: beige;
}

.submenu--desktop__pcComponents {
    width: 150px;
}

.submenuWrapper--desktop__pcComponents {
    width: 25rem;
    background-color: #fffefe;
    border: 2px solid #f3eded;
}

.submenuWrapper--desktop__subcategory--hardDriveDiscs--isOpen {
    background-color: #fffefe;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 24.8rem;
    margin-top: -2rem;
    width: 20rem;

    padding: 0;

}

.styledLinkContainer--desktop__pcComponents {
    position: relative;
    left: 3rem;

    justify-content: center;

    width: 20rem;

}

.submenuWrapper--isOpen {
    border: 2px solid #bdbaba;
}


.submenu--desktop__pcComponents {
    width: 190px;
    margin-left: 150px;
}


.styledLinkContainer :hover {
    background-color: #EEEEEE;
}

.submenu--desktop__subcategory--hardDriveDiscs {
    background-color: #fff;
    min-width: 1000px;
    position: relative;
    left: 42.5rem;
    border: 1px solid #EEEEEE;
}