.flexRow--menu__desktop--containerMain {
    background-color: var(--mobile-gray);
}

.flexRowContent--menu__desktop--containerMain {
    display: flex;
    background-color: var(--mobile-gray);
    justify-content: center;
    min-height: 55px;
    column-gap: 48px;
}

.flexCol--menu__desktop--container {
    flex-wrap: wrap;
    min-height: 55px;
}

.flexRowContent--menu__desktop--Maincontainer {
    min-height: 55px;

}