.flexRow--desktop__productShelf--container {
    display: flex;
    max-height: 371px;
    margin-top: 0;
    flex-basis: content;
    overflow: hidden;
    justify-content: center;
}

.flexCol--shelf_leftColumn {
    flex-basis: content;
}

.flexColChild--shelf_rightColumn {
    overflow: hidden;
}

.flexColChild--shelf_rightColumn {
    background-color: #E7EAEC;
    max-height: 370px;
}