.flexRowContent--desktop__titleAndOrder--container {
    justify-content: space-between;
    margin-bottom: 2%;
}

.flexCol--search-order__container {
    flex-direction: row;

    justify-content: flex-end
}

.flexColChild--search-order__container {
    display: flex;
    align-items: center;
}

.flexRow--plp__rowContainer {
    width: 100%;
}

.flexCol--plp__colContainer--image {
    background: linear-gradient(to bottom, #FFFFFF, #D6D6D6);
}

.flexColChild--plp__colContainer--image {
    display: flex;
    align-items: center;
    height: 240px !important;
}

.flexRowContent--desktop__search--banner--mobile {

    position: relative;
    height: 50px;

    top: 48px;
    margin-bottom: 49px;

}

.flexCol--mobile__container--filter {
    padding-left: 10px;
}

.flexRowContent--desktop__search--banner {

    background-image: url(assets/img/search-images/banner-search.jpg);
    width: 100vw;
    margin-left: calc((100% - (100vw - 17px))/ 2);
    margin-right: calc((100% - (100vw - 17px))/ 2);
    height: 112px;
    background-repeat: no-repeat;
    background-size: cover;

}