.searchResultContainer--desktop__result--container {
    max-width: 1280px;
    margin: 0 auto 50px;
    padding-top: 0;

}



.filterPopupArrowIcon--desktop__sortby {
    display: flex;
    align-items: center;
    justify-content: center
}

.caretIcon--desktop__sortby {

    color: var(--icon-color);
}

.galleryItem--general-grid {
    background-color: #FFF;
    border: 1.5px solid #EEEEEE;
    padding: 0 !important;
    height: 400px;
}



.galleryItem--general-list {
    background-color: #FFF;
    border: 1.5px solid #EEEEEE;
    padding: 0 !important;
}

.galleryItem--general-list {
    background-color: #FFF;

}

.galleryTitle--layout {
    display: inline-block;
    height: auto;
    line-height: 1.42857143;
    margin-top: 30px;
    font-size: 25px;
    font-family: Montserrat-Semibold;
    color: #424143;
}

@media screen and (max-width:640px) {
    .galleryTitle--layout {
        margin: 0;

    }
}

.orderByOptionsContainer {
    position: absolute;
    top: 40px;
    border-radius: 10px;
    border-color: #EEEEEE !important;
    width: 100px;

}

.orderByOptionItem--desktop__sortby {

    background-color: #424143;
    color: #EEEEEE;
    font-family: Montserrat-Regular;
}


.gallery--general-list {
    width: 70% !important;

}

.filterPopupTitle--desktop__sortby {
    font-family: Montserrat-Regular;
    font-weight: 600;
}

.orderByText--desktop__sortby {
    font-family: Montserrat-SemiBold;


}

@media screen and (min-width:1080px) {
    .galleryItem--general-grid {

        flex-basis: 35.3333% !important;
        max-width: 40.3333% !important;
    }


}

@media screen and (min-width:641px) and (max-width:1079px) {
    .galleryItem--general-grid {

        flex-basis: 45% !important;
        max-width: 50 !important;
    }


}

@media screen and (max-width:640px) {
    .galleryItem--general-grid {
        flex-basis: 47% !important;
        height: 250px;


    }


}