/* check hover on product shelf, must not exist */

/* .containerNormal--desktop__shelf--container:hover {

    border: 1.5px solid var(--icon-color);

} */


.price_className--desktop__plp--price {


    position: relative;
    top: 200%;
    right: 55%;

}

.containerNormal--desktop__shelf--container-grid {
    max-width: 100% !important;
}

.brandName--desktop__plp--name {
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #706F6F
}

.price_installmentContainer--desktop__plp--price {
    display: none;
}

.image--shelf__image-list {
    min-height: 200px;
    height: 80%;
}

.imageContainer--product-summary__Shelf--image-list {
    width: 160%;
}

.containerNormal--desktop__shelf--container-list {
    max-width: 100% !important;
}

.element--desktop__shelf--container-list {
    padding: 0% !important;
}

.currencyContainer--product-summary__Shelf--price-list {
    font-size: 25px;
    font-family: Montserrat-Regular;
}

.productBrand--shelf__name-list {
    font-size: 15px;
    font-family: Montserrat-Regular;
}

.price_sellingPriceContainer--desktop__plp--price {
    padding-left: 12%;

}