.searchResultContainer--desktop__result--container {
    max-width: 1280px;
    margin: 0 auto 50px;
    padding-top: 0;

}



.filterPopupArrowIcon--desktop__sortby {
    display: flex;
    align-items: center;
    justify-content: center
}

.caretIcon--desktop__sortby {

    color: var(--icon-color);
}





.galleryItem--general-list {
    background-color: #FFF;
    border: 1.5px solid #EEEEEE;
    padding: 0 !important;
}

.galleryItem--general-list {
    background-color: #FFF;

}

.galleryTitle--layout {
    display: inline-block;
    height: auto;
    line-height: 1.42857143;
    margin-top: 30px;
    font-size: 25px;
    font-family: Montserrat-Semibold;
    color: #424143;
}

@media screen and (max-width:640px) {
    .galleryTitle--layout {
        margin: 0;

    }
}

.orderByOptionsContainer {
    position: absolute;
    top: 40px;
    border-radius: 10px;
    border-color: #EEEEEE !important;
    width: 100px;

}

.orderByOptionItem--desktop__sortby {

    background-color: #424143;
    color: #EEEEEE;
    font-family: Montserrat-Regular;
}


.gallery--general-list {
    width: 70% !important;

}

.filterPopupTitle--desktop__sortby {
    font-family: Montserrat-Regular;
    font-weight: 600;
}

.orderByText--desktop__sortby {
    font-family: Montserrat-SemiBold;


}




.galleryItem--general-grid {
    background-color: #FFF;
    border: 1.5px solid #CDCDCD;
    padding: 0 !important;
    height: 400px;

    flex-basis: 300px !important;
    max-width: 31% !important;
}

@media screen and (max-width:1023px) and (min-width:761px) {
    .galleryItem--general-grid {

        height: 95%;
        flex-basis: 30% !important;
        max-width: 31% !important;

    }
}

@media screen and (min-width:760px) and (max-width:1024px) {
    .galleryItem--general-grid {

        height: 52%;
        flex-basis: 48% !important;
        max-width: 47% !important;

    }

    .flexColChild--desktop__container--result-search {
        margin-bottom: 12%;
    }
}

@media screen and (max-width:1024px) and (min-width:860px) {
    .galleryItem--general-grid {

        height: 56%;
        flex-basis: 48% !important;
        max-width: 49% !important;

    }
}

@media screen and (max-width:759px) {
    .galleryItem--general-grid {

        height: 54%;
        flex-basis: 58% !important;
        max-width: 48% !important;

    }
}




.filtersWrapper--global__filter {
    font-family: Montserrat-Regular;
    margin-left: 5%;
}