.flexCol--productInfo--container {

    row-gap: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(160, 148, 148);
    width: max-content;
}


.flexCol--miniCartimage--container-global {
    align-items: center;
    flex-direction: column;

}

.flexRowContent--productlist__mainContainer-global {
    justify-content: space-between;
}

.flexRow--productlist__mainContainer {
    margin-top: 2rem;
}

.flexCol--minicart__footer {
    flex-direction: column;
}

.flexCol--product__quantity--descriptionRemove {
    flex-direction: column;
}

.flexRow--productlist__mainContainer-global {
    border: 1px solid #EEEEEE;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.flexColChild--miniCartimage--container-global {
    max-width: 50px;
}

.flexRow--cart__main--row-container {
    max-width: 1280px;
    margin: 0 auto;
}