/* Example desktop:
.minicartTitle {
    display: none;
} */
.minicartContentContainer {
    background-color: rgb(184, 194, 187);
}

.minicartQuantityBadgeDefault {
    background-color: #D4D512;
    border-radius: 1rem;
    height: 0.5rem;

}

.minicartTitle {
    text-align: center;

}

.closeIcon {
    color: rgb(185, 14, 14);
}

.minicartTitle--global__minicart {
    font-size: 0;
}

.minicartTitle--minicart--basecontent {
    font-size: 0;
}

.minicartTitle--minicart--basecontent::before {
    content: "My Cart";
    color: #555;
    font-size: 2rem;
    font-weight: 600;
    line-height: 32px;
    font-family: Montserrat-Regular;


}

.minicartProductListContainer {
    height: 100%;
}