.logoImage--logo-desktop {

    width: 11rem;
    height: 34px;

}


.imageElement--home__slider--image {
    width: 100%;
    padding-top: 0;
    margin-top: -5px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    min-height: 35px;
    border-style: none;

}

.imageElement--venexCorporate {

    max-height: 35px;
    position: relative;
    top: 10px;


}

.autoCompleteOuterContainer {
    border: 4px solid #fff;
    border-radius: 5px;

}

.searchBarContainer .input-prefix__group {
    border: none !important;
}

.logoContainer--logo-desktop {
    margin-left: -3rem;

    max-width: 192px;
    max-height: 72px;
    min-width: 123px;

}



.imageElement--slider__brand--image-logo {


    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    bottom: 46%;


}