.link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 300;
    line-height: 21px;
    font-family: Montserrat-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label--footer__links {
    color: #fff;
    font-family: Montserrat-Regular;
}

.label--builsYourPc {
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    padding: 0 5px;
}