.headerStickyRow--searchBar__container {
    padding: 0;
    min-height: 84px;
}

.headerRowContainer {
    display: flex;
    justify-content: center;
}

.headerRowBackground {
    background-color: #37373F;
}

.headerRowContainer--searchBar__container {

    background-color: #37373F;

    min-height: 84px;
    display: flex;

    justify-content: center;
}

.headerRowContainer--searchBar__container--col {

    width: 955px;
    margin: 0 auto;

}

@media screen and (min-width:1280px) {
    .headerRowContainer--searchBar__container--col {

        width: 1280px;
        margin: 0 auto;

    }
}