.stretchChildrenWidth {
    width: 50%;

}

.flexRow--desktop__searchBar--container {
    background-color: #37373F;
}

.flexRowContent--header__orderOptions {
    background-color: var(--primary-color);
    height: 35px
}

.flexRow--header__orderOptions {

    width: auto;
    background-color: var(--primary-color);
}

.flexColChild---header__container--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexRowContent--header__container--rightContainer {
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.flexRowContent--menu__desktop--container {
    padding: 5px;
    background-color: #EEEEEE;
    max-width: 100vw;
    max-height: 50rem;
    justify-content: center;
    padding: 0;
}

.flexCol--links__container {
    justify-content: space-around;
    align-content: center;


}

.flexRow--menu__desktop--container {
    background-color: #EEEEEE;
}