.headerStickyRow--searchBar__container {
    padding: 0;
    min-height: 84px;
}

.headerRowContainer {
    display: flex;
    justify-content: center;
}

.headerRowBackground {
    background-color: #37373F;
}

.headerRowContainer--searchBar__container {

    background-color: #37373F;

    min-height: 84px;
    display: flex;

    justify-content: center;
}