/* Example desktop:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */

.flexRowContent {
    padding-top: 2px;
}

.flexRowContent--header__orderOptions {
    background-color: var(--primary-color);
    height: 2rem;
    width: 100%;

}

.flexColChild---header__container--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexRowContent--header__container--rightContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.flexRowContent--menu__desktop--container {

    background-color: #EEEEEE;
    max-width: 100vw;
    max-height: 50rem;

}

.flexCol--links__container {
    justify-content: space-around;
    align-content: center;


}