.styledLinkContainer {
    margin: 0 12px;

}

.styledLinkContainer--all__categories {
    border-right: 2px solid grey;


}


.subMenuContainer {
    background-color: beige;
}

.submenu--desktop__pcComponents {
    width: 150px;
}

.submenuWrapper--desktop__pcComponents {
    width: 25rem;
    background-color: #fffefe;
    border: 2px solid #f3eded;
}

.submenuWrapper--desktop__subcategory--hardDriveDiscs--isOpen {
    background-color: #fffefe;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25rem;
    margin-top: -2rem;
    width: 10rem;
    border: 2px solid #bdbaba;
    padding: 0;


}