.term--pdp__tablet--breadcrum {
    font-family: Montserrat-Medium;
    color: var(--cion-color);
    font-size: 16px;
}



.link--pdp__tablet--breadcrum--1 ::before {
    content: "back to previous";
    height: 15px;
}