.flexCol--newsLetter {
    flex-direction: column;
    background-color: #37373F;
    min-height: 247px;
}

.flexRowContent--footer__desktop--container {
    height: 70px;
    max-width: 1280px;
    padding: 10px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;


}

.flexRow--footer__desktop--info {
    background-color: #37373F;
    min-height: 247px;
}


.flexCol--CopyRight {



    flex-direction: row;
    padding-top: 5%;


}

.flexRowContent--customerServices__container {
    flex-direction: column;
    background-color: #37373F;

}

.flexCol--customerServices__container {
    flex-direction: column;
}

.flexRowContent--footer__desktop {
    justify-content: center;
    align-items: center;
}

.flexRowContent--footer__desktop--titles {
    background-color: #37373F;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: center;
    margin: 0 auto;

}

.flexRow--footer__desktop--titles {
    background-color: #37373F;
    padding-top: 20px;
}



.flexColChild--newsLetter {
    height: 30px;


}

/* .flexRowContent--footer__desktop--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 11% !important;
}
 */


.flexColChild--CopyRight {

    display: flex;
    justify-content: stretch;
    /* width: 40%; */
    height: 25% !important;
    width: 100%;
}

.flexRowContent--copyright__images--container {
    width: 12%;
}

.flexRowContent--footer__desktop--info {
    height: 17rem;
    justify-content: space-around;

    margin: 0 auto;
}

.flexRowContent--social__container {
    column-gap: 10px;
}

.flexRow--social__container {

    position: relative;
    bottom: 82%;

}