.paragraph--customerServices__text {
    color: #91c612;
    font-weight: 400;
    font-family: Montserrat-Medium;

}

.paragraph--customerService__title-1 {
    color: #91c612;
    font-weight: 600;
    font-family: Montserrat-Medium;
    font-size: 15px;
}

.paragraph--customerService__title-2 {
    color: #fff;
    font-weight: 600;
    font-family: Montserrat-Regular;
    font-size: 15px;

}

.paragraph--customerService__title-3 {
    font-family: Montserrat-Medium;
    color: #fff;
    font-size: 14px;


}

.container--contactInfo__text {
    justify-content: flex-start;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    font-family: Montserrat-Regular;
    text-align: left;

}

.container--customerService__title-1 {
    justify-content: flex-start;

    position: relative;
    left: 3%;
}

.paragraph--customerService__PickUpPoint {
    width: max-content;

    padding-top: 20px;
    margin-left: 33%;

    color: #91c612;
    font-weight: 600;
    font-family: Montserrat-Medium;
    font-size: 15px;


}

.container--customerService__title-2 {
    justify-content: flex-start;
    padding-left: 18px;
}

.container--customerService__title-3 {
    justify-content: center;
    padding-left: 18px;
    padding-right: 15%;

}

.paragraph--contactInfo__text {
    width: max-content;
    font-size: 14px;
}

.paragraph--suscribe__title {
    color: #fff;
    font-family: Montserrat-Regular;
}

.container--suscribe__title {
    font-size: 14px;
    font-family: Montserrat-Regular;
}