.filterPopupTitle--mobile__filter {
    font-family: Montserrat-Semibold;
    color: #424143;
}

.gallery--general-grid {
    justify-content: space-between;

}

@media screen and (max-width:640px) {
    .gallery--general-grid {
        justify-content: space-between;

    }
}