.flexRow--phone__titleAndOrder--container {
    padding-top: 4rem;
}

.flexRowContent--mobile__title-filer--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexColChild--search-title__phone--container {
    display: flex;
    justify-content: center;
}

.flexCol--phone__search-order--container {
    flex-direction: row;
    justify-content: space-around;
}

.flexRowContent--plp__rowContainer {
    display: flex;
    flex-direction: row;
}

.flexRowContent--plp__rowContainer :first-child {
    width: 100%;
}

.flexColChild--plp__colContainer {

    display: flex;
    align-items: flex-end;
}

.flexRowContent--desktop__container--row {
    flex-direction: row;
}

/* @media screen and (max-width:955px) {
    .flexRowContent--desktop__container--row {
        flex-direction: column;
    }

} */