.biggy-autocomplete {
    position: relative;
    width: 66.8%;
    flex-direction: column !important;
    left: 33%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.history-and-top-wrapper {
    flex-direction: column !important;
}

.tileListList {
    flex-direction: column !important;
    width: 40rem;

}

/* .itemList--suggestion {
    display: none !important;
} */