.imageWrapper {
    max-height: 200px;
    max-width: 200px;
}

.image {
    max-width: 200px;
    max-height: 200px;
}

.imageStackContainer {
    max-width: 200px;

}

.imageNormal {
    min-height: 200px;
}

.nameContainer {
    min-height: 110px;
}

.priceContainer {
    min-height: 103px;
}