.flexRow--contact__button-mainContainer {
    padding: 4% 0;
    background-color: var(--mobile-gray);
}


.flexRowContent--contact__button-mainContainer {

    display: flex;
    width: 95%;
    margin: 0 auto;
    column-gap: 1%;

}

.flexCol--button__textUs--container {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    background-color: #37373F;
    margin-right: 7px;

}

.flexCol--button__callUs--container {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    background-color: var(--icon-color);

}

.flexColChild--button__callUs--container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flexColChild--button__textUs--container {
    display: flex;
    justify-content: center;
    align-items: center;

}