.flexCol--pdp__slider--container {
    margin-top: 2%;
    padding-bottom: 3%;
    padding-top: 5%;
    background-color: #EEEEEE;
}

.flexColChild--pdp__slider--container {
    width: 95%;
    margin: 5% auto;
}

.flexCol--pdp__specs__modal-trigger {
    width: 90%;
    margin: 0 auto;
}