.price_sellingPrice--pdp__slider--price {
    font-family: Montserrat-Bold;
    line-height: 20px;
    font-size: 17px;
    padding: 15px;
}

.price_className--pdp__slider--price {
    background-color: #FFF;
}