/* .container {
    height: 20rem;
}
 */
.headerRowContentContainer {
    background-color: #37373F;

}

.headerRowContainer--mobile__header--right {
    max-height: 3rem;
    justify-content: flex-end;
}

.headerRowContainer--mobile__header--left {
    max-height: 3rem;
    justify-content: flex-start;
}

.headerStickyRow--mobile__header--right {
    height: 47px;
}

.headerStickyRow--mobile__header--left {
    height: 47px;
}