.flexRowContent--header__mobile--container {
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow--header__mobile--container {
    height: 47px;
    width: 100vw;
    padding-left: 0 !important;
}

.flexRow--megamenu__mobile--container {
    z-index: 50;
}