.flexRowContent--desktop__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.flexCol--desktop__title--col {
    flex-direction: row;
    width: 85% !important;
    margin-left: 15px;
}

@media screen and (max-width:1024px) {
    .flexRowContent--desktop__title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EEEEEE;
    }

    .flexCol--desktop__title--col {
        justify-content: center;
    }

}