.submenuContainerVertical--megaMenu__mobile {
    background-color: #424143;
}

.collapsibleHeaderText--megaMenu__mobile {
    color: #fff;
    text-transform: uppercase
}

.submenuContainerTitle--megaMenu__mobile {
    color: #fff;
    text-transform: uppercase
}

.styledLinkText--megaMenu__mobile {
    text-transform: uppercase;
    color: #fff;
}


.styledLinkIcon--megaMenu__mobile {
    display: none;
}

.menuItemVertical--megaMenu__mobile {
    border: none;
}



.styledLinkText--megaMenu__mobile {
    font-family: Montserrat-Regular;
    font-size: 15px;
    font-weight: 500;
}

.caretIcon--megaMenu__mobile {
    color: var(--icon-color);
}

.opened--megaMenu__drawer {
    overflow: hidden;
    max-width: 750px;
}