.flexColChild--mobile__sliderLinksRow--container {
    padding: 10px;
}

.flexRowContent--mobile__sliderLinks {
    background-color: #EEEEEE;
}

.flexRow--mobile__Big-title {
    background-color: #e7eaec;
    height: 55px;
}

.flexRowContent--mobile__Big-title {
    background-color: #e7eaec;


}

.flexRowContent--mobile__slider {
    position: relative top 45px;
}