.sliderArrows--porduct__shelf--slider {
    width: 30px;
    height: 50px;
    background: #7e7c83 !important;
    opacity: 0.9;
    border-radius: 5px;
}

.sliderArrows--porduct__shelf--slider :hover {
    height: 50px;
    width: 30px;
    background: #29282b;
    opacity: 0.5;
    border-radius: 5px;
}

.caretIcon--porduct__shelf--slider {
    color: white
}

.sliderTrack--porduct__shelf--slider {
    gap: 1.5rem;
    position: relative;
    top: 0.5rem
}

.sliderLeftArrow--porduct__shelf--slider {
    margin-right: 3rem !important;
}

.sliderTrackContainer--porduct__shelf--slider {

    height: 347px;
    position: relative;
    bottom: 0.5rem;

}