.imageElement--notebook__girl--image {

    position: relative;

    top: 3px;
}

.discountInsideContainer {

    width: fit-content;
    background-color: var(--icon-color);
    position: absolute;
    font-size: 16px;
    color: #000;
    max-width: 86px;
    height: 28px;
    border-radius: 5px;
    left: -2%;
    bottom: 4%;
    font-family: Montserrat-Regular;


}