.imageWrapper--product-summary__Shelf--image {
    padding-top: 7%;
    background: linear-gradient(to bottom, #FFFFFF, #D6D6D6);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 80%;
    position: relative;

}



.imageStackContainer {
    max-width: 200px;

}

.image--product-summary__shelf-container {
    height: 150px !important;

}

.priceContainer {
    background-color: #fff;
}

.clearLink--desktop__shelf--container {
    max-width: 100%;
    min-height: 350px;
    flex-direction: column;
}



.element--desktop__shelf--container {

    padding: 0;
    height: 380px;
    flex-direction: column !important;
    border-radius: 20px;


}



.currencyCode {
    font-family: Montserrat-Regular;
    color: #333333;
    font-weight: 700;
}

.currencyLiteral {
    font-family: Montserrat-Regular;
    color: #333333;
    font-weight: 700;
}

.currencyInteger {
    font-family: Montserrat-Regular;
    color: #333333;
    font-weight: 700;

}

.image--product-summary__Shelf--image {
    height: 12rem !important;
}



.priceContainer--product-summary__Shelf--price {
    min-height: 4rem;
    position: relative;
    bottom: 23px;
    padding: 0;
}

.nameContainer--product-summary__Shelf--name {
    padding: 0;
    min-height: 3rem;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    position: relative;

}




.imageContainer--product-summary__Shelf--image {
    max-width: 186px;
}

.price_installmentContainer--product-summary__Shelf--price {
    display: none;
}

.price_listPriceContainer--product-summary__Shelf--price {
    display: none;
}

.brandName--product-summary__Shelf--name {
    font-family: Montserrat-Light;
    color: gray;
    font-size: 12px;
}

@media screen and (max-width:960px) {
    .clearLink--desktop__shelf--container {
        min-height: 300px;
        justify-content: space-around;
    }

    .image--product-summary__Shelf--image {
        height: 9rem !important;
    }


}