.flexColChild--shelf_rightColumn {
    background-color: #E7EAEC;
}


.flexRowContent--desktop__productShelf--container {
    background-color: #E7EAEC;
    justify-content: space-around;
    width: 1280px;
    max-height: 390px;
}



.flexRow--desktop__sliderBrands--container {
    margin-bottom: 20px;
}